
body {
    background-color: #FFE4D4;
}

.Formcontainer {
    margin: 20px auto;
    width: 50%;
    height: 700px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3b0535;
    text-align: center;
   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #3b0535;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3b0535;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #F97623;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #E1660E;
}

#error {
    color: #FF0000;
    margin-top: 10px;
    text-align: center;
}
